

/* LOGIN */

.containerLogin{
  background-color: rgb(255, 255, 255);
  font-family: 'Titillium Web', sans-serif;
  width: 360px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 200px;
}

.botonSubmit {
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all .3s ease-in-out;
}

.botonSubmit:hover {
  
  transition: all .3s ease-in-out;
}

.inputForm {
  border: 1px solid black;
  border-color: linear-gradient(to right, #dc2430, #7b4397);
  transition: all .3s ease-in-out;

}

.inputForm:hover {
  border: 1px solid #dc2430;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

/* LOGIN */

.hamburguer {
  cursor: pointer;
  display: none;
  flex-direction: column;
 
  width: 30px;
  height: 30px;
  text-align: center;
}

.bar {

  display: block;
  width: 23px;
  height: 1px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
}

.hamburguer.active .bar:nth-child(2){
  opacity: 0;
}

.hamburguer.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
}

.contentPadding {
  padding: 0;
}

.contHomeMenu{
  height: fit-content;
  width: fit-content;
  border:  0px solid rgb(180, 180, 180);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.contHomeMenuData{
  height: fit-content;
  width: fit-content;
  border:  0px solid rgb(180, 180, 180);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cardItemData{
  width:250px;
  padding: 0px;
  height: 94px;
  color:#f9f9f9 ;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  flex-grow: 1;
}

.cardItemDataItems > img {
  width: 54px;
  margin: 0 0;
}

.cardItemDataItems > span {

  font-weight: 500;
  font-size: 19px;
}

.cardItemDataItems{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 14px;
}

.cardItem{
  width:250px;
  padding: 4px;
  height: 170px;
  background: linear-gradient(-50.6deg, rgb(179 134 149) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(69 41 90) 99.1%);
  color:#f9f9f9 ;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  flex-grow: 1;
}

.cardItem > img {
  width: 57px;
  margin:27px 0 0 35px ;
}

.cardItem > span {
  margin-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 19px;
}

.marginTitleHome{
  padding-left: 90px;
}

@media (max-width: 1600px){
  .cardItem {
    width: 210px;
  }
  .cardItem > img {
    width: 50px;
    margin:27px 0 0 35px ;
  }

  .cardItemData {
    width: 210px;
  }
  .cardItemDataItems > img {
    width: 45px;
    margin:27px 0 0 35px ;
  }
  .cardItemDataItems > span {
    margin-left: 35px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 17px !important;
  }
  
  .cardItem > span {
    margin-left: 35px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 19px;
  }
  .marginTitleHome{
    padding-left: 10px;
  }
}

@media (max-width: 1500px){
  .cardItem {
    width: 210px;
  }
  .cardItem > img {
    width: 50px;
    margin:27px 0 0 27px ;
  }
  
  .cardItem > span {
    margin-left: 27px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 19px;
  }

  .cardItemData{
    width:210px;
    padding: 4px;
    height: 94px;
    color:#f9f9f9 ;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    flex-grow: 1;
  }

  .cardItemDataItems > img {
    width: 44px;
    margin: 0 0;
  }
  
  .cardItemDataItems > span {
  
    font-weight: 500;
    font-size: 17px !important;
  }
  
}

@media (max-width: 400px){

}

@media (max-width: 138px){
  .cardItem {
    width: 190px;
  }
  .cardItem > img {
    width: 50px;
    margin:27px 0 0 35px ;
  }
  
  .cardItem > span {
    margin-left: 35px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 19px;
  } 
}


@media (max-width: 778px){
  .navProfileSett {
    display: none !important;
  }
  .contentPadding {
    padding: 0 15px;
    padding-top: 10px;
  }
  
  .hamburguer {
    display: block;
  }

  .contHomeMenu{
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    gap:30px;
    padding: 0 40px;
  }
  .marginTitleHome{
    padding-left: 0px;
  }
  .cardItem{
    width:145px;
    height: 110px;
    background: linear-gradient(-50.6deg, rgb(179 134 149) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(69 41 90) 99.1%);
    color :#f9f9f9 ;
  }

  .cardItemData{
    width:310px;

  }
  
  .cardItem > img {
    width: 34px;
    margin: 15px 0 0 15px ;
  }

  
  
  .cardItem > span {
    margin-left: 13px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 15px;
  }

  .contHomeMenuData{
    height: fit-content;
    width: 100%;
    border:  0px solid rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .cardItemData{
    max-width:100%;
    padding: 4px;
    height: 100px;
    color:#f9f9f9 ;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    flex-grow: 1;
  }
  
  .cardItemDataItems > img {
    width: 48px;
    margin: 0 0;
  }
  
  .cardItemDataItems > span {
  
    font-weight: 500;
    font-size: 17px;
  }
  
  .cardItemDataItems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
}

@media (max-width: 410px){
  .contentPadding {
    padding: 0 5px;
  }

}




